:host #content{
    display: flex;
    height: 85vh;
}

:host #collegueBoard{
    width: 75%;
}

:host #buttons{
    background-color: red;
    display: flex;
    justify-content: center;
}

:host #buttonItem button{
    width:5rem;
}

:host #histoPart{
    overflow: scroll;
    border-style: solid;
    border-color: black;
}