<div id="content">
    <div>
        <button (click)="refresh()">Refresh</button>
        <app-vote-count></app-vote-count>
        <app-nouveau-collegue-template-form></app-nouveau-collegue-template-form>
    </div>
    <div id="level-2">
        <div id="collegueBoard">
            <app-liste-collegues-component [collegues]="collegues" [pageIndex]="pageIndex"></app-liste-collegues-component>
            <div id="buttons">
                <span id="buttonItem" *ngFor="let int of pages">
                    <button (click)="changePage(int)">{{int}}</button>
                </span>
            </div>
        </div>
        <div id="histoPart">
            <app-historique-votes></app-historique-votes>
        </div>
    </div>
</div>