:host #content{
    display: flex;
    flex-direction: column;
    
}

:host #level-2{
    display: flex;
    height: 80vh;
}

:host #collegueBoard{
    width: 75%;
}

:host #buttons{
    background-color: red;
    display: flex;
    justify-content: center;
    height: 5vh;
}

:host #buttonItem button{
    width:5rem;
}

:host #histoPart{
    overflow: scroll;
    border-style: solid;
    border-color: black;
    margin-left: 1.5rem;
    width: 25%;
}