:host #photo{
    width: 13rem;
    height: 13rem;
    margin-top: 5vh;
}

:host .bloc{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    border-style: solid;
    border-color: red;
    height: 75vh;
}

:host .collegueInfos{
    font-size: 1.5rem;
}

:host .yellow{
    background-color: navajowhite;
}

:host .red{
    background-color: crimson;
}

:host .orange{
    background-color: coral;
}

:host .green{
    background-color: yellowgreen;
}